/* 
    file:  style.css
    author: Nicolas VANNSON (hello@memau.eu)
    author: Paul APTEL (hello@memau.eu)
    version: 1.0
    date: 25-06-2025
    Licence: EUPL v1.2
    détails: Fichier style.css pour l'ensemble des questionnaires .html qui sont présent sur 
    MEMAUDATA.
*/


/* Body */
body {
    font-family: Rethink Regular, sans-serif;
    color: black;
}


h1,h2,h3,h4,p {
    text-align: center;
}

/* table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eeeeee;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #eeeeee;
    color:black !important;
}

th {
    background-color: #eeeeee;
    color: black;
  }


tr:hover {
    background-color: #e0f2f1; /* Light hover effect */
}

.Error_message_not_all_answered {
    color: #2B176C; 
    text-align: center;
  }


/* Inputs */
input[type="radio"],
input[type='range'],
input[type='checkbox'] {
    accent-color: #2B176C;
}

input[type="radio"] {
    margin: 5px;
}

/*input[type="radio"] {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
  }*/


/* Sliders options */
.slider {
    width: 100%;
    height: 10px;
    border-radius:5px; 
    outline: 0; 

}

.slider:hover {
    opacity: 2;
}

.slider-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    margin-bottom: 20px;
    font-size: 6px;
}

/* NaN question for SSQ...*/
.na-checkbox {
    text-align: center;
    width: 110px;

  }


/* buttons */
.buttons-container {
    text-align: center;
    margin-top: 30px;
}
.buttons-container button {
    padding: 12px 25px;
    margin: 0 10px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;

}

.buttons-container button:hover {
    background-color: #2B176C; /* MEMAUDATA color theme*/
    color : white;
}

/* results section */
#results { 
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    display: none;
    border-radius: 5px;
    padding: 15px;
}

ul.myList {
    display: inline-block;
    text-align: left;
}

/* Specific style for each questionnaires */
/* --- ACOUPHENES --- */

.Question_Bahia,
.Question_Khalfa,
.Question_miniHQ9,
.Question_Nelting,
.Question_THI,
.Question_MASH{
    text-align: left; 
}

/* BAHIA */
.Réponses_Bahia {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

.bahia_small_table {
    width: 30%;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid #eeeeee;
}


/* THI */
.options {
    display: flex;
    align-items: center;
}

.option {
    margin-right: 10px;
    color: black !important;
}

/* M.A.S.H. */
.MASH_scale {
    display:flex; 
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 8px;
}


/* --- AUTRES --- */
.Question_EHI,
.Question_GAI,
.Question_HHIE,
.HADS_question,
.ZARIT_question {
    text-align: left; 
}



/* EHI */
.EHI_menu{
    width:250px;
    padding:5px;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    color: black !important;
    font-size: 15px !important;
}

/* HHIE-S */
#HHIE-S tr:nth-child(odd) {
    background-color: #eeeeee;
  }

/* HADS */
.HADS_question_reponses {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

#HADS input[type="radio"] {
    margin-right: 5px;
    margin-left: 40px;
    margin-top:10px;
}
 
/* QSCPGS */
.consignes_QSCPGS {
    text-align: center;
    list-style-position: inside;

  }
ol.my_QSCPGS {
    display: inline-block;
    text-align: left;
  }

#QSCPGS_radio-col {
    width: 15px;
    text-align: center;
    padding: 2px
}  

#QSCPGS td input[type="radio"] {
    margin: 0 auto; /* Center the radio button */
    display: block; /* Make it a block element to allow margin auto */
    width: 16px; /* Standard size, you can make it smaller if needed */
    height: 16px;
  }

/* RSES */
.RSES_answers {
    display: flex;
    justify-content: space-around;
}
#RSES tr:nth-child(odd) {
    background-color:#eeeeee;
  }

/* SADL */
#SADL {
    max-width: 950px;
    margin: 0 auto; 
  }
  
.SADL_question {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
.SADL_scale {
    display:flex; 
    justify-content:space-between;
}

.SADL_words {
    display:flex; 
    justify-content:space-between;
    margin-bottom: 15px;
}

.SADL_small_radio_input {


}

#SADL input[type="radio"] {
    margin-right: 5px;
    margin-left: 40px;
    margin-top:10px;
}


/* --- PREMS --- */






/* IOIHA  */
form#IIPBAA {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    font-family: sans-serif;
  }
  
  .question {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .scale-text,
  .scale-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 0.5rem;
  }
  
  .scale-text span {
    flex: 1;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .scale-inputs label {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  

/* --- PROMS --- */



.question-main {
    background-color: #eeeeee;
    font-weight: bold;
    color:black !important;
}

